.menu-toggle {
  position: fixed;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  z-index: 1001;
  padding: 1rem;
  font-size: 2rem;
  background: none;
  color: var(--text-color);
}

/* Bootstrap Overrides for Responsiveness */
.offcanvas {
  width: 100% !important;
}

.btn-close {
  width: 3em;
  height: 3em;
}

/* Desktop / Simulator View */
@media (min-width: 1024px) {
  .menu-toggle {
    top: 40px;
    left: 40px;
    font-size: 64px;
  }

  .offcanvas {
    width: 600px !important;
  }
}
