{{define "admin_container"}}
<div class="admin-container py-5">
    <h1 class="display-3 fw-bold mb-5">User Management</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col" colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{range $index, $user := .}}
            <tr>
                <th scope="row">{{$index}}</th>
                <td>{{$user.Full_name}}</td>
                <td>{{$user.Email}}</td>
                <td>{{$user.App_role}}</td>
                <td>
                    {{if $user.Enabled}}
                    <button class="btn btn-warning" hx-patch="/admin/{{$user.Id}}/disable" hx-target="#usersContainer"
                        hx-indicator="#loadingIndicator">
                        Disable
                    </button>
                    {{else}}
                    <button class="btn btn-warning" hx-patch="/admin/{{$user.Id}}/enable" hx-target="#usersContainer"
                        hx-indicator="#loadingIndicator">
                        Enable
                    </button>
                    {{end}}
                </td>
                <td>
                    <button class="btn btn-danger" hx-delete="/admin/{{$user.Id}}" hx-target="#usersContainer"
                        hx-confirm="Are you sure you want to delete '{{$user.Email}}'?"
                        hx-indicator="#loadingIndicator">
                        Delete
                    </button>
                    <!-- 
                    {{template "delete_button" .}} -->
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{end}}